@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

html,
body {
  height: 100%;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

:root {
  --star-top: 'auto';
  --star-left: 'auto';
  --mouse-x: 0;
  --mouse-y: 0;
  --columns: 0;
  --rows: 0;
}

.tile {
  cursor: pointer;
  position: relative;
}

.tile:hover:before {
  background-color: rgba(30, 30, 30, 0.4);
}

.tile:before {
  background-color: rgba(15, 15, 15, 0.4);
  content: '';
  inset: 1px;
  position: absolute;
}

#tiles > .tile:hover {
  opacity: 0.4 !important;
}
